<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6913688410063" version="0.0.1"> 
  <name>Where</name>  
  <description>户外领队专属工具</description>  
  <author email="1410200695@qq.com" href="http://www.apicloud.com">xiaomiwujiecao</author>  
  <content src="index.html"/>  
  <preference name="pageBounce" value="false"/>  
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>  
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>  
  <preference name="hScrollBarEnabled" value="true"/>  
  <preference name="vScrollBarEnabled" value="true"/>  
  <preference name="autoLaunch" value="true"/>  
  <preference name="fullScreen" value="false"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <permission name="readPhoneState"/>  
  <permission name="camera"/>  
  <permission name="record"/>  
  <permission name="location"/>  
  <permission name="fileSystem"/>  
  <permission name="internet"/>  
  <permission name="bootCompleted"/>  
  <permission name="hardware"/>  
  <access origin="*"/>  
  <feature name="wx"> 
    <param name="urlScheme" value="wx36d63793fa087759"/>  
    <param name="apiKey" value="wx36d63793fa087759"/>  
    <param name="apiSecret" value="93d1f7bdd14176a4fd412209245afbf6"/> 
  </feature>  
  <feature name="bMap"> 
    <param name="android_api_key" value="5069yrWsqYmXI6VWnHeRurXBIeCyyWHe"/> 
  </feature>  
  <feature name="imageClip"/> 
</widget>
